.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 10vw;
}

.filters-container {
  width: 100px;
  height: 300px;
  background-color: lightgray;
}

.list-container {
  width: 400px;
  height: 300px;
  background-color: greenyellow;
}

.task-header {
  margin-left: 5px;
  margin-top: 2px;
}

.task-container {
  display: grid;
  width: 400px;
  margin-top: 5px;
  grid-template-columns: 30px 2fr 1fr 50px;
}

.checkbox {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.delete {
  color: white;
  background-color: red;
  cursor: pointer;
  margin-right: 5px;
  margin-left: auto;
}

.delete:hover {
  background-color: tomato;
}

.tagged-task {
  display: flex;
  gap: 0.25rem;
}

.tags-container {
  display: flex;
  gap: 0.1rem;
}

.tag {
  background-color: white;
  color: black;
}
