.fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 1rem;
}

.checkbox {
  background-color: darkgrey;
  cursor: pointer;
}

.delete {
  color: white;
  background-color: red;
  cursor: pointer;
  margin: 2px 2px;
}
