.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 10vw;
}

.filters-container {
  width: 100px;
  height: 350px;
  background-color: lightgray;
}

.list-container {
  width: 400px;
  height: 350px;
  background-color: antiquewhite;
}

.task-header {
  margin-left: 5px;
  margin-top: 2px;
}

.task-container {
  display: grid;
  width: 400px;
  margin-top: 5px;
  grid-template-columns: 30px 2fr 1fr 50px 50px;
}

.task-form {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.create-task {
  background-color: white;
  color: aquamarine;
  border-radius: 5px;
}

.create-task:hover {
  background-color: grey;
}

.checkbox {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.edit {
  color: yellowgreen;
  cursor: pointer;
  margin-right: 15px;
  margin-left: auto;
}

.edit:hover {
  color: white;
}

.delete {
  color: tomato;
  cursor: pointer;
  margin-right: 5px;
  margin-left: auto;
}

.delete:hover {
  color: white;
}

.tagged-task {
  display: flex;
  gap: 0.25rem;
}

.tags-container {
  display: flex;
  gap: 0.1rem;
}

.tag {
  color: white;
  background-color: lightgray;
}
